<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block pagetitle %}Проект Estudio{% endblock %}</title>
    {% load static %}
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
</head>
<body>
    <main>
        <header class="d-flex justify-content-center py-4 border-bottom mb-5">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Главная</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Учить слова</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Добавить слова</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Моя статистика</a></li>
            </ul>
        </header>
        <div class="container col-xxl-8 px-1 py-3">
            {% block content %}{% endblock %}
        </div>
        <footer class="footer pt-3 mt-4 text-muted border-top">
            Проект разработан Белановой Татьяной в 2025 году
        </footer>
    </main>
</body>
</html>
