{% extends 'base_page.html' %}

{% block content %}
    <div class="bg-body-teritary p-5 rounded mt-3">
        {% if form %}
            <h2>¿Готовы начать?</h2>
            <div class="d-flex gap-5 justify-content-start py-2">
                <p style="font-size: 1.6em; position: relative; top: 20px" class="lead">Введите количество слов для обучения!</p>
                <div class="form-floating mb-1">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form.num_words.label_tag }}
                        <div class="input-container">
                            {{ form.num_words }}
                            {% if form.num_words.errors %}
                                {% for error in form.num_words.errors %}
                                    {% if error != 'Это поле обязательно.' %}
                                        <span class="error-message">{{ error }}</span>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% if form.non_field_errors %}
                            <span class="error-message">{{ form.non_field_errors }}</span>
                        {% endif %}
                        <button type="submit" class="btn btn-primary">Подтвердить</button>
                    </form>
                </div>
            </div>
            
            {% else %}
            <h2>Введите перевод всех слов!</h2>
            <div class="d-flex gap-5 justify-content-start py-2">
                <div class="form-floating mb-1">
                    <form method="post">
                        {% csrf_token %}
                        <table class="table table-striped">
                            <thead>
                                <colgroup>
                                    <col style='width: 50%;'>
                                    <col style='width: 50%'>
                                </colgroup>
                                <tr>
                                    <th>Слово</th>
                                    <th>Перевод</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for word in word_cards %}
                                    <tr>
                                        <td>{{ word.spanish_word }}</td>
                                        <td>
                                            <input type="text" id="translation_{{ word.id }}" name="translation_{{ word.id }}" class="translation-input form-control rounded-3"  autocomplete="off">
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
   
{% endblock %}
